/* Safari 4.0 - 8.0 */
@-webkit-keyframes blink_underline {
  0% {
    text-decoration: none;
  }
  49% {
    text-decoration: none;
  }
  50% {
    text-decoration: underline;
  }
  100% {
    text-decoration: underline;
  }
}

/* Standard syntax */
@keyframes blink_underline {
  0% {
    text-decoration: none;
  }
  49% {
    text-decoration: none;
  }
  50% {
    text-decoration: underline;
  }
  100% {
    text-decoration: underline;
  }
}

.blink_underline {
  animation: blink_underline 1s infinite;
}
